.landing-parent {
  grid-template-columns: 4;
  grid-template-rows: 4;
  display: grid;
  height: 86vh;
}

.url-shortener {
  grid-column-start: span 4;
  grid-row-start: span 4;
  justify-self: center;
  align-self: center;
  color: #f8f8ff;
  display: grid;
}

.short-content {
  align-self: center;
  justify-content: center;
  display: grid;
}

.short-content h1 {
  font-size: 1.75em;
  margin: 0;
  margin-bottom: 1vh;
}
.short-content p {
  font-size: 1em;
  margin: 0;
  margin-top: 1vh;
}

.url-input {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
}

#long-input {
  background-color: #f8f8ff;
  overflow: auto;
  border: 1px solid #343434;
  height: 5vh;
  width: 40vw;
  font-size: 2rem;
}

.url-input button {
  padding: 0;
  margin-left: 1vw;
  height: 5.5vh;
  width: 10vw;
  color: black;
  font-size: 1.15rem;
  background-color: #f8f8ff;
  border: 1px solid #343434;
}

.url-input button:hover {
  cursor: pointer;
}

.landing {
  background-image: linear-gradient(rgba(65, 65, 65, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1478728073286-db190d3d8ce6?ixlib=rb-0.3.5&s=87131a6b538ed72b25d9e0fc4bf8df5b&auto=format&fit=crop&w=1268&q=80");
  height: 100vh;
  width: 100vw;
}
