.url-shortener {
  grid-column-start: span 5;
  grid-row-start: 1/2;
  justify-self: center;
  align-self: start;
  background-color: #2f8e70;
  width: 100vw;
  color: white;
  height: 22vh;
  display: grid;
}

.short-content {
  align-self: center;
  justify-content: center;
  display: grid;
}

.short-content h1 {
  font-size: 1.75em;
  margin: 0;
  margin-bottom: 1vh;
}
.short-content p {
  font-size: 1em;
  margin: 0;
  margin-top: 1vh;
}

.url-input {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
}

#long-input {
  height: 5vh;
  width: 40vw;
  font-size: 1.75rem;
}

.url-input button {
  padding: 0;
  margin-left: 1vw;
  height: 5.5vh;
  width: 10vw;
  color: #2f8e70;
  font-size: 1rem;
  background-color: white;
}

.url-input button:hover {
  cursor: pointer;
}

.url-shortener-list {
  display: grid;
  height: 50vh;
  width: 60vw;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
  justify-self: center;
  align-self: start;
  grid-template-columns: 50% 1fr 1fr 1fr;
  grid-template-rows: 1fr 95%;
  grid-auto-flow: dense;
}

.table-head {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 3vh;
  grid-template-columns: 50% 1fr 1fr 1fr;
  display: grid;
}

.table-head h2 {
  font-size: 1em;
  margin: 0;
}

#table-head-original {
  margin-left: 1vw;
  justify-self: start;
  align-self: center;
}

#table-head-created {
  align-self: center;
}

#table-head-short {
  align-self: center;
}

#table-head-click {
  align-self: center;
}

.unleash-the-link {
  background-color: #f6f4ee;
  height: 40vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.landing-links-powered {
  background-color: #2f3637;
  color: white;
  width: 100vw;
  height: 20vh;
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: 3;
  align-self: center;
  justify-self: center;
}

.landing-links-powered h1 {
  align-self: center;
  justify-self: center;
}

.landing-trustedby {
  height: 15vh;
  margin: 0;
  background-color: #f6f4ee;
  display: grid;
}

.landing-trustedby h2 {
  align-self: center;
  justify-self: center;
}

.landing-trustedby p {
  align-self: center;
  justify-self: center;
}

.landing-some-reviews {
  background-color: #256476;
  color: white;
  height: 15vh;
  display: grid;
}

.landing-some-reviews q {
  align-self: center;
  justify-self: center;
}

.landing-some-reviews p {
  justify-self: center;
}

.landing-parent {
  height: 110vh;
}

.landing-cta button {
  padding: 0;
  height: 5.5vh;
  width: 10vw;
  color: #2f8e70;
  font-size: 1rem;
  background-color: white;
  grid-column-start: 2;
  grid-row-start: 3;
  justify-self: center;
  align-self: center;
}

.landing-cta button:hover {
  cursor: pointer;
}

.cta-learn {
  grid-column-start: 2;
  grid-row-start: 3;
  align-self: center;
  justify-self: center;
}

.landing-links-powered button {
  padding: 0;
  height: 5.5vh;
  width: 15vw;
  color: #2f8e70;
  font-size: 1rem;
  background-color: white;
  align-self: center;
  justify-self: center;
}

.landing-links-powered button:hover {
  cursor: pointer;
}

.cta-head {
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  justify-self: center;
  align-self: center;
}

.landing-cta {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 2vw;
}

.landing-brand {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  justify-self: center;
  align-self: center;
}

.landing-track {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  justify-self: center;
  align-self: center;
}

.landing-optimize {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  justify-self: center;
  align-self: center;
}
