@media screen and (min-width: 1200px) {
  .conditional {
    margin: 0 auto;
    width: 1175px;
  }

  .not-signed-in {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    height: 500px;
  }

  .nsi-cta img {
    height: 500px;
    width: 750px;
  }

  .nsi-text {
    width: 400px;
    font-size: 1.8em;
    text-align: left;
    font-weight: 300;
  }

  .nsi-text h1 {
    font-weight: 300;
  }

  .nsi-text button {
    margin-top: 5vh;
  }

  #login-signup-btn2 {
    background: linear-gradient(to right, #37a6ef, #227df6);
    background-color: #227df6;
    -webkit-border-top-left-radius: 42px;
    -moz-border-radius-topleft: 42px;
    border-top-left-radius: 42px;
    -webkit-border-top-right-radius: 42px;
    -moz-border-radius-topright: 42px;
    border-top-right-radius: 42px;
    -webkit-border-bottom-right-radius: 42px;
    -moz-border-radius-bottomright: 42px;
    border-bottom-right-radius: 42px;
    -webkit-border-bottom-left-radius: 42px;
    -moz-border-radius-bottomleft: 42px;
    border-bottom-left-radius: 42px;
    display: inline-block;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    text-align: center;
    align-content: center;
    width: 170px;
    height: 40px;
    font-size: 1rem;
    font-weight: 300;
  }
  #login-sign-btn button:hover {
    cursor: pointer;
  }
}
