.header-main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  background-color: white;
  color: #6c6c6c;
  height: 7.5vh;
  width: 100vw;
}
