@media screen and (min-width: 1200px) {
  .header-main {
    margin: 0 auto;
    padding-top: 5vh;
    padding-bottom: 5vh;
    width: 1175px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    color: black;
    text-decoration: none;
  }

  .header-left a {
    color: black;
  }

  .header-left {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
  }

  .header-left h1 {
    margin-left: 1vw;
    margin-right: 1vw;
    color: black;
  }
}
