.footer-main {
  height: 7.5vh;
  color: #f8f8ff;
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 2;
}

.footer-main h1 {
  margin: 0;
  color: #f8f8ff;
}

.footer-link {
  align-self: end;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  align-content: stretch;
  margin-bottom: 1vh;
}

.footer-link h1 {
  margin-right: 0.75vw;
  margin-left: 0.75vw;
}
