.footer-main {
  height: 11.5vh;
  background-color: #e0dbc7;
  color: #6c6c6c;
}

.footer-main h1 {
  margin: 0;
}

.footer-link {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  margin-bottom: 2.5vh;
  margin-top: 1.5vh;
}

.footer-link h1 {
  margin-right: 1vw;
  margin-left: 1vw;
}
