@media screen and (min-width: 1200px) {
  .footer-main {
    height: 30px;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 2;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100vw;
    text-decoration: none;
  }
  .footer-main p {
    margin: 0 auto;
    color: black;
    font-size: 1em;
    font-weight: 300;
  }
  .footer-main a {
    font-size: 1em;
    font-weight: 400;
    color: #0598ec;
  }
}
